@import "tailwindcss";


@theme{
    --font-primary: "Poppins", serif;   
}

.poppins-regular {
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: var(--font-primary);
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: var(--font-primary);
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: var(--font-primary);
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: var(--font-primary);
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: var(--font-primary);
    font-weight: 900;
    font-style: normal;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
}

*{
    user-select: none;
    outline: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: background 0.3s ease-in-out; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@keyframes ContainerBounce {
    0%, 100% {
        transform: translateY(-2%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
  }

.img-bounce{
    animation: ContainerBounce 2s infinite;   
}

.slide-out{
    transform: translateX(-112%);
    transition: transform 6s ease-in-out;
}

.slide-in {
    transform: translateX(30%);
    transition: transform 4s ease-in-out;
}